#header {
    background: linear-gradient(to top, black, 20%, cyan);
}
section {
    background: linear-gradient(to bottom right, #c0c0ff, #6eeeee);
}

#footer {
    background: linear-gradient(to bottom, black, 20%, cyan);
}

.sertificat {
    margin-top: 30px;
}
