#header {
    background: #b8c3cc;
    font-weight: bold;
    font-size: 20px;
}

.header_a {
    font-weight: bold;

}

section {
    background-color: black;
}

#footer {

}

.sertificat {
    margin-top: 30px;
}

.product {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.right {
    padding: 15px 0;
    margin: 15px 0;
    background-color: white;
}

.left {
    padding: 100px 0;
}

.price {
    padding: 0;
}

product-price {

}

.product-item {
    border-style: outset;
    border-width: medium;
    border-color: #0b2e13;
    background-color: #1abc9c;
}
