#header {
    background: linear-gradient(to top, black, 20%, cyan);
}
section {
    background: linear-gradient(to bottom right, #c0c0ff, #6eeeee);
}

#footer {
    background: linear-gradient(to bottom, black, 20%, cyan);
}

.sertificat {
    margin-top: 30px;
}

.product {
    font-size: 20px;
    margin: 0 0 10px 0;
}

product-price {

}

.product-item {
    border-style: outset;
    border-width: medium;
    border-color: #0b2e13;
    background-color: #1abc9c;
}
